.dropdown {
  text-align: center;
  overflow: hidden;
  background-color: #1ddbd5;
  height: 250px;
  margin: 0 auto;
  width: 500px;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  padding: 18px 18px;
  font-family: inherit;
}

.dropdown-content {
  padding: 7px 16px;
}
